<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727287547500-nmlcoo2dvfkommpajvvrtq9b9lf5a2g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727287547500-nmlcoo2dvfkommpajvvrtq9b9lf5a2g1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727287547500-nn993543a96su9ookocfbg8r1dk1b6pu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtuIsNAh-yAmJOuWTzcEktSCOIKnsmFUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>727287547500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flareChatApp</string>
	<key>PROJECT_ID</key>
	<string>flare-chat-98a28</string>
	<key>STORAGE_BUCKET</key>
	<string>flare-chat-98a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727287547500:ios:0203593a7c3578d7383a49</string>
</dict>
</plist>